#slow-animate {
   -webkit-transition: none !important;
   transition: none !important;
}

#date-content {
  min-height: 1000px;
}

.extra-padding {
    padding-right: 10px;
}

.extra-padding-left {
    padding-left: 150px;
}

.back {
    color: #160A97;
    font-size: 18px;
}

.top-space {
    margin-top: 35px;
}
