* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'navbar/navbar';
@import 'posts/posts';
@import 'postDetails/postDetails';
