* {
  box-sizing: border-box;
}

[ui-sref] {
    cursor: pointer;
}

#right {
    text-align: right;
    padding-right: 300px;
}

.table {
    margin-bottom: 8px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

pre {
  margin-top: 30px;
}

@import 'navbar/navbar';
@import 'posts/posts';
@import 'postDetails/postDetails';
